:host {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

h2 {
  text-transform: uppercase;
  color: #424242;
  width: 100%;
  font-family: 'Roboto';
  text-align: center;
  margin: 0;
}